.favoritBox {
  position:relative;
  top:5rem;
  left:0;
  display: flex;
  flex-flow: column wrap;
  margin-bottom: 5rem;

  .favoritProducts {
    display: flex;
    flex-flow: row wrap;
    width: 100vw;
  }
}
