.homeBox {
  position: relative;
  top: 0;
  left: 0;
  background-image: url("../assets/mainImg.png");
  background-size: cover;
  background-attachment: fixed;


  .productsBox {
    width: 100vw;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    background-color:white;
     background: linear-gradient(
      45deg,
      rgba(255, 0, 0, 0.8),
      rgba(0, 0, 255, 0.8)
    );

    .productsOption {
      width: 100vw;
      height: 15vh;
      margin-top: 1rem;
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
      padding:  1rem;

      select{
        width: 8rem;
        height: 2rem;
      
      }
  
    }
  }
}
