.footerBox {
  position:relative;
 top:auto;
 
  width: 100vw;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  margin-bottom:0;



  .footer1 {
    width: 90vw;
    border-top: 1px solid black;
    flex-flow: column wrap;
    margin:1rem;

    .footer1Inner {
      display: flex;
      justify-content: space-between;

      .footerQuicklinks{
        display:flex;
        flex-flow:column wrap;
        margin:1rem;
      }
    }
      .footerSubscribe{
         display:flex;
        justify-content:space-between;
        align-items:center;
        margin:1rem;

        .footerEmail{
          
          input{
            padding: 0.5rem 0;
            font-size:1rem;
          }
        }

        .footerSocial{
         font-size:2rem;
        }
      }
  }
  .footer2{
    width: 90vw;
    border-top: 1px solid black;
    flex-flow: column wrap;
    margin:1rem;

    .footerPay{
      display:flex;
        justify-content:space-between;
        align-items:center;
        margin:1rem;
    }
  }
}
